#formContainer {
    display: flex;
    align-items: center;
    /*come faccio a centrarlo senza mettere il padding?*/
}

#titolo {
    color:black;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
}

#container_body {
    justify-content: center;
}

body {
    background-color: white;
}

footer {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#logo {
    width: 35rem;
}

#bottone_registrati {
    margin-top: 1rem;
}

#check_AscoltatoreCreator {
    display: flex;
    justify-content: center;
}

#immagine_microfono {
    display: flex;
    align-items: center;
}