{% extends "base.html" %}

{% block js %}
<script defer src="{{ url_for('static', filename='podcast.js') }}"></script>{% endblock %}

{% block title %}{{podcast.Titolo}}{% endblock %}

{% block bottone_ricerca %}
<input class="form-control me-2" type="text" placeholder="Cerca" aria-label="Search" id="searchbar">
{% endblock %}

{% block episodi %}
<article id="container_podcast_singolo">
    <div class="row" id="immagine_podcast">
        <div class="col-5">
            <a href="{{url_for('podcast', podcast_id=podcast.podcast_id)}}"><img class="postimg"
                    src="{{ url_for('static', filename='podcast' + podcast.podcast_id|string + podcast.Estensione)}}"
                    alt="Immagine del podcast con podcast_id {{podcast.IDSerie}}"></a>
        </div>
    </div>

    <div class="row" id="dati_del_podcast">
        <div class="col-lg-3 col-md-12">
            <a href="{{url_for('podcast', podcast_id=podcast.podcast_id)}}">
                <h4>{{podcast.Titolo}}</h4>
            </a>
            <h6>di <i>{{podcast.username}}</i></h6>
            <h6 id="categoria">Categoria: {{podcast.categoria}}</h6>
        </div>
        <div class="col-lg-6 col-md-12" id="descrizione_serie">
            <p>{{podcast.Descrizione}}</p>
        </div>
        <div class="col-lg-3" id="bottonipodcast">
            <div class="row">
                <!-- UTENTE LOGGATO E CREATORE DEL PODCAST -->
                {% if isactive %}
                {% if user.Tipo == 1 %}
                {% if podcast.utente_id == user.ID %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opzioni
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{{url_for('nuovoEpisodio', podcast_id=podcast.podcast_id)}}">Nuovo episodio</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{url_for('modificaPodcast', podcast_id=podcast.podcast_id)}}">Modifica
                                podcast</a></li>
                        <li><a class="dropdown-item"
                                href="{{url_for('cancellaPodcast', podcast_id=podcast.podcast_id)}}">Elimina podcast</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                <!-- UTENTE NON LOGGATO-->
                {% else %}
                <a href="{{url_for('login')}}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Accedi per avere più funzionalità!
                    </button>
                </a>
                {% endif %}
            </div>
            <!-- UTENTE LOGGATO MA CHE NON E' CREATORE DEL PODCAST -->
            {% if isactive and user.ID != podcast.utente_id %}
            <div class="row">
                <div class="col">
                    {% if podcast.podcast_id in id_podcast_seguiti %}
                    <a href="{{url_for('unfollow_podcast', podcast_id=podcast.podcast_id)}}"><button type="button"
                            class="btn btn-light">non seguire più</button></a>
                    {% else %}
                    <a href="{{url_for('follow_podcast', podcast_id=podcast.podcast_id)}}"><button type="button"
                            class="btn btn-light">segui</button></a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</article>

{% if episodi %}
<div class="row" id="episodi">
    <div class="col">
        {% for episodio in episodi %}
        <div class="contenitore_episodio">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <a href="{{url_for('singoloEpisodio', episodio_id=episodio.episodio_id)}}"
                            id="link_singolo_episodio">
                            <h5 class="titolo_episodio">{{episodio.Titolo}}</h5>
                        </a>
                    </div>
                    <div class="row">
                        <h6>{{episodio.DataCreazione}}</h6>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h6 class="descrizione_episodio">{{episodio.Descrizione}}</h6>
                </div>
                <div class="col-lg-3">
                    {% if isactive %}
                    {% if user.Tipo == 1 %}
                    {% if podcast.utente_id == user.ID %}
                    <div class="row" id="contenitore_BottoniEpisodio">
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <!--TODO: RIMPICCIOLIRE BOTTONI EPISODIO-->
                                <a href="{{url_for('modificaEpisodio', titolo=episodio.Titolo)}}"
                                    id="bottone_modifica_episodio"><button type="button"
                                        class="btn btn-warning btn-xs">Modifica</button></a>
                                <a href="{{url_for('cancellaEpisodio', titolo=episodio.Titolo)}}"
                                    id="bottone_cancella_episodio"><button type="button"
                                        class="btn btn-danger btn-xs">Elimina</button></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if isactive %}
            <div class="row" id="audio_episodio">
                <div class="col">
                    <audio
                        src="{{url_for('static', filename='episodio'+ episodio.episodio_id|string + 'podcast' + episodio.podcast_id|string + episodio.Estensione)}}"
                        controls></audio>
                </div>
            </div>

            <div class="row" id="commenti">
                <div class="col-3">
                    <a href="{{url_for('singoloEpisodio', episodio_id=episodio.episodio_id)}}">
                        <p>Altri commenti</p>
                    </a>
                </div>

                <div class="col-9">
                    <form action="/nuovoCommento" method="POST" enctype="multipart/form-data">
                        <input class="form-control" type="text" placeholder="Nuovo commento"
                            aria-label="default input example" name="testo_commento">
                        <input type="hidden" id="custId" name="episodio_id" value="{{episodio.episodio_id}}">
                        <input type="hidden" id="custId" name="podcast_id" value="{{episodio.podcast_id}}">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>Non sono presenti episodi.</p>
{% endif %}

{% endblock %}